<phpunit>
  <testsuites>
    <testsuite name="WebSlideshow">
      <directory>WebSlideshow</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">../scripts</directory>
      <exclude>
        <file>../scripts/mainConfig.php</file>
        <file>../scripts/myConfig.php</file>
      </exclude>
    </whitelist>
  </filter>
</phpunit>